div.input-fields{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4rem;

}


div.input-fields>input{
    padding: 1.5rem;
    width: 50%;
    border-radius: 1rem;
    margin: 2rem;
    font-size: 1.5rem;

}

input.submit-button{
    padding: 1.5rem;
    width: 60%;
    margin: 0rem 2rem;
    border-radius: 1rem;
    text-align: center;
    background-image: linear-gradient(to right,purple,rgb(205, 3, 205));
    color: white;
    font-size: 1.5rem;
    cursor: pointer;

}


div.meme-input{
    text-align: center;
}

.meme {
    position: relative;
}

.meme-image{
    display: block;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    /* padding: 2rem; */
    border-radius: 1rem;
    max-width: 100%;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}